:root{
    --background-color: #232946;
    --text-color: #b8c1ec;
    --headers-color: #fffffe;
    --buttom-text-color: #232946;
    --buttom-hover-text: #eebbc3;
    --buttom-border-color: #121629;
    --main-content-background-color: #b8c1ec;
    --terciaria: #eebbc3;
}

header, main, footer {
    width: 80% !important;
    max-width: 1300 !important;
}

h1 {
    font-size: 2em;
    color:var(--headers-color);
}
h2 {
    color:var(--headers-color);

}
body {
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1em;
    color: var(--headers-color);
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    width: 100%;
}

.protifolio-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
.portifolio-main-item {
    justify-content: center;
}
.portifolio-main-item-text {
    justify-content: center;
    padding: 25px;
}

.protifolio-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.portifolio-header-item {
    justify-content: center;
    padding: 25px;
}
.portifolio-header-item-text {
    justify-content: center;
   
    padding: 45px 25px;
}


/* media queries*/
@media (max-width: 1100px) {
    .protifolio-main {
        grid-template-columns: 1fr 1fr;

    }  
}
@media (max-width: 690px)
{
    .nav-item a
    {
         font-size:1em!important;
    }
    .nav-logo {
        font-size:1.5em!important;
    }
    .portifolio {
         width:100%!important;
    }
    .portifolio p {
        padding-top: 0!important;
    }
    .center-imagem{
        justify-content:center!important;
        justify-items:center!important;
    }
    .main-conteudo {
        flex-wrap:wrap;
        width: 100%!important;
    }
    
    .center-imagem-portifolio{
        justify-content: center!important;
        align-items: center!important;
    }
    .footer {
        width: 100%!important;
        display: flex;
        justify-content: center!important;
        flex-wrap: wrap!important;
    }
    .rodape {
        width: 100%!important;
        justify-content: center!important;
        align-items: center!important;
        text-align: center;
    }
    footer {
        text-align: center;

        justify-content: center!important;
    }
    .protifolio-header {
        display: grid;
        grid-template-columns: 1fr;
    }
    .protifolio-main {
        display: grid;
        grid-template-columns:1fr;
    }

}


.nav {
    width: 100%;
}

.nav-logo {
    margin-top: 20px;
    font-size:2em;
    text-align:center;
}

.nav-menu {
    display: flex;
    width: 100%;
    justify-content:center;
    border-bottom:2px solid var(--terciaria);
}

.nav-item {
    list-style: none;
    padding:1em;
}

.nav-item a {
    font-size:1.5em;
}

.center-imagem {
    display:flex;
    display: -webkit-flex;
}

.imagem-perfil {
    max-height: 270px;
    max-width: 240px;
    border-radius:100%;
    /* border: 4px solid var(--terciaria); */
}

.portifolio-card {
    padding: 2em;
    justify-content:center;
    width:48%;
}

.portifolio-card p {
    padding-top: 40px;
    text-justify: center;
}

main{
    display: flex;
    width: 100%;
    /* background-color: var(--terciaria); */
    justify-content:center;
}

main *{
    /* color:var(--background-color); */
}
.card {
    width: 320px;
    margin: 20px;
}

.imagem-portifolio {
    width: 100%;
    border-radius: 15px;
    border: 4px solid var(--background-color);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3em 0;
}
.footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.footer div{
    padding-top: 0.7em;    
}
.footer div a {
    font-size: 1.2em;
    margin: 0 0.5em;
}
